<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <!--Sql2008 R2版本-->
    <!--Sql2008版本MS实例连接，&&&怎样让它自动选择一个来连接？？-->
    <add name="ConnectionString"
         connectionString="Data Source=(Local);Initial Catalog=StuManageSystem_2008;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
    
    <!--★■在机房要用这个实例连接-->
    <!--【数据库文件】要用：Sql2008版本-->
    
    <!--<add name="ConnectionString"
        connectionString="Data Source=.\SQLExpress;Initial Catalog=StuManageSystem_2008;Integrated Security=SSPI"
        providerName="System.Data.SqlClient"/>-->
    
  </connectionStrings>
</configuration>